
<div class="layui-hide-xs">
  <div class="fly-panel fly-column">
    <div class="layui-container">
      <ul class="layui-clear">
        <li class="layui-hide-xs ">
          <a href="{:url('index/index/index')}">首页</a></li>
      <?php foreach ($cates as $row) { ?>
        <li>
          <a href="{:url('index/index/index',['cid'=>$row['cid']])}">{$row.name}</a>
        </li>
      <?php } ?>

   
        <li>
          <a href="">公告</a></li>
        <li>
          <a href="">动态</a></li>
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block">
          <span class="fly-mid"></span>
        </li>
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block">
          <a href="{:url('index/set/user')}">我发表的贴</a></li>
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block">
           <a href="{:url('index/set/user')}">我收藏的贴</a></li>
      </ul>
      <div class="fly-column-right layui-hide-xs">
        <span class="fly-search">
          <i class="layui-icon"></i></span>
        <a href="{:url('index/jie/add')}" class="layui-btn">发表新帖</a></div>
      <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
        <a href="/jie/add/" class="layui-btn">发表新帖</a></div>
    </div>
  </div>
</div>